<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>
            OnPointChat
          </ion-title>
        </ion-col>
        <ion-col id="logoutBtn">
          <ion-button (click)="logout()">
            Odhlásiť
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="topBar">
    <div class="backBtn" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
      <p>Zrušiť</p>
    </div>
  </div>
  <div class="idk">
    <ion-title>Vytvorenie miestnosti</ion-title>
    <ion-item>
      <ion-label position="stacked">Fixed Label</ion-label>
      <ion-input [(ngModel)]="newGroup.name" (keyup.enter)="addGroup()"></ion-input>
    </ion-item>
    <ion-button (click)="addGroup()">Vytvoriť</ion-button>
  </div>
</ion-content>
