ion-content{
    --ion-background-color: #0055CC;
}
ion-title{
    color: white;
    font-family: sans-serif;
    font-size: 3rem;
}
.nicknameInput{
    margin-top: 40px;
}
ion-input{
    background-color: white;
    width: 75%;
    border-radius: 10px;
    margin: auto;
    font-size: 2rem;
}  