ion-toolbar ion-title{
  margin: auto;
  display: table;
  font-size: 1.75rem;
}
ion-card-subtitle{
  --color: black;
  font-size: 19px;
}
#logoutBtn ion-button{
  margin: auto;
  display: table;
  float: right;
}

ion-content{
  --ion-background-color: white;
}

ion-card-content{
  background-color:#e5e5ea;
}

.myMsg{
  text-align: right;
}

.myMsg ion-card-content{
  color:white;  
  background-color:#0055CC;
}

.myMsg ion-card-subtitle{
  color:#E5E5EA;
}