ion-toolbar ion-title{
  margin: auto;
  display: table;
  font-size: 1.75rem;
}
ion-card-subtitle{
  --color: black;
  font-size: 19px;
}
ion-content{
  --ion-background-color: white;
}
ion-card-content{
  background-color:#e5e5ea;
}