ion-col ion-title{
  margin: auto;
  display: table;
  font-size: 1.75rem;
  color: white;
  padding-left: 0;
}
ion-card-subtitle{
  --color: black;
  font-size: 19px;
}
#logoutBtn ion-button{
  margin: auto;
  display: table;
  float: right;
  --background: #037aff;
}

ion-content{
  --ion-background-color: white;
  padding: 2px;
}

ion-card-content{
  background-color:#e5e5ea;
}
ion-card-content ion-icon{
  position: absolute;
  top: -42px;
  height: 60px;
  width: 60px;
  right: 10px;
  color: #037aff;
}
ion-footer div{
  bottom: 0px;
  display: inline-flex;
  position: fixed;
}
.addRoomB{
  margin: 9px;
  font-size: 9px;
}
.group{
  margin: 17px;
}

.isdeleteActive{
  display: block;
}
.noDeleteActive{
  display: none;
}

.isBroadcast{
  display: none;
}

@media screen and (max-width:375px){
  .ios #logoutBtn ion-button{
    font-size: 15px;
  }
  .ios ion-toolbar ion-title{
    font-size: 1.4rem;
    padding-top: 14px;
  }
}
@media screen and (max-width:325px){
  .ios #logoutBtn ion-button{
    font-size: 12px;
  }
  .ios ion-toolbar ion-title{
    font-size: 1.2rem;
    padding-top: 11px;
  }
}