<ion-header>
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col></ion-col>
        <ion-col>
          <ion-title>
            OnPointChat
          </ion-title>
        </ion-col>
        <ion-col id="logoutBtn">
          <ion-button (click)="logout()">
            Odhlásiť
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header>
  </ion-header>
  <div *ngFor="let group of groups">
    <ion-card class="group" (click)="enterGroupChat(group.id)">
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{group.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Vstúpiť do miestnosti</p>
          <ion-icon name="arrow-forward-circle-outline"></ion-icon>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>