<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-grid>
      <ion-row>
        <ion-col>

        </ion-col>
        <ion-col>
          <ion-title>
            OnPointChat
          </ion-title>
        </ion-col>
        <ion-col id="logoutBtn">
          <ion-button (click)="logout()">
            Odhlásiť
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
  <div class="topBar">
    <ion-title class="ion-text-center">{{group_name}}</ion-title>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-content class="messageSpace" #content>
    <div *ngFor="let message of messages; let i = index">
      <div [ngClass]="{
        'myMsg': messages[i].isMyMsg
      }">
        <ion-card class="message">
          <ion-card-content>
            <ion-card-header>
              <ion-card-subtitle>{{message.name}}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              {{message.message}}
            </ion-card-content>
          </ion-card-content>
        </ion-card>
      </div>
      
    </div>
  </ion-content>
  <div class="messageInput">
    <ion-input [(ngModel)]="newMessage.message"  placeholder="Enter message" (ionChange)="checkInput()"></ion-input>
    <ion-button [disabled]="isDisabled" (click)="sendMessage()">Odoslať</ion-button>
  </div>
</ion-content>
