<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      OnPointChat
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-header>
  </ion-header>
  <div *ngFor="let group of groups">
    <ion-card  (click)="enterGroupChat(group.id)">
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{group.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Enter group chat</p>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

