ion-content{
  --ion-background-color:white;
}
ion-toolbar ion-title{
  margin: auto;
  display: table;
  font-size: 1.75rem;
}
ion-card{
  display: inline-block;
}

#logoutBtn ion-button{
  margin: auto;
  display: table;
  float: right;
}

.topBar{
  display: inline-flex;
  background-color:white;
  color:#0055CC;
  width: 100%;
}

.topBar div{
  display: inline-flex;
}
.topBar ion-icon{
  margin: auto;
}
.messageSpace{
  --padding-bottom: 5%;
}
.message{
  background-color: #E5E5EA;
  width:fit-content;
  height: auto;
  border-radius: 12px;
}
.message ion-card-header{
  padding: 5px;
}
.message ion-card-content{
  padding: 0px 5px 2px 5px;
  color: black;
}
.message ion-card-subtitle{
  color: black;
  font-weight: bold;
}
.messageInput{
  position: fixed;
  bottom: 0px;
  margin-top: 10px;
  display: inline-flex;
  width: 100%;
  padding-right: 10px;
  z-index: 1;
  background-color:white;
  color:black;
}

.myMsg{
  text-align: right;
}
.myMsg ion-card-content{
  color:white;  
  background-color:#0055CC;
}
.myMsg ion-card-subtitle{
  display: none;
}