ion-content{
  --ion-background-color:white;
  padding: 2px;
}
ion-toolbar ion-title{
  margin: auto;
  display: table;
  font-size: 1.75rem;
  color: white;
  padding-left: 0;
}
ion-card{
  display: inline-block;
}
.ion-text-center{
  align-items: flex-end;
}
#logoutBtn ion-button{
  margin: auto;
  display: table;
  float: right;
  --background: #037aff;
}

.topBar{
  display: inline-flex;
  background-color:white;
  color:#0055CC;
  width: 100%;
}

.topBar div{
  display: inline-flex;
}
.topBar ion-icon{
  margin: auto;
}
.message{
  background-color: #E5E5EA;
  width:fit-content;
  height: auto;
  border-radius: 12px;
  margin: 5px 10px;
  max-width: 80%;
}
.message ion-card-header{
  padding: 5px;
}
.message ion-card-content{
  padding: 0px 5px 2px 5px;
  color: black;
}
.message ion-card-subtitle{
  color: black;
  font-weight: bold;
}
.messageInput{
  bottom: 0px;
  display: inline-flex;
  width: 100%;    
  padding: 0 8px;
  z-index: 1;
  background-color:white;
  color:black;
}

.myMsg{
  text-align: right;
}
.myMsg ion-card-content{
  color:white;  
  background-color:#0055CC;
}
.myMsg ion-card-subtitle{
  display: none;
}
@media screen and (max-width:375px){
  .ios #logoutBtn ion-button{
    font-size: 15px;
  }
  .ios ion-toolbar ion-title{
    font-size: 1.4rem;
    padding-top: 14px;
  }
}
@media screen and (max-width:325px){
  .ios #logoutBtn ion-button{
    font-size: 12px;
  }
  .ios ion-toolbar ion-title{
    font-size: 1.2rem;
    padding-top: 11px;
  }
}