<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      OnPointChat
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header>
    <ion-searchbar placeholder="Search by name"></ion-searchbar>
  </ion-header>
  <div *ngFor="let user of users">
    <ion-card>
      <ion-card-content>
        <ion-card-header>
          <ion-card-subtitle>{{user.name}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Enter chat</p>
        </ion-card-content>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
