ion-toolbar ion-title{
  margin: auto;
  display: table;
  font-size: 1.75rem;
}

ion-content{
  --ion-background-color: white;
}
ion-content ion-toolbar ion-title{
  --color:black;
}
app-explore-container{
  color:black;
}